<footer class="footer mt-5 pt-5 pb-3">
  <div class="container border-top border-dark pt-4">
    <div class="row align-items-center">
      <div class="col-md-4 text-center text-md-start mb-3 mb-md-0">
        <span class="navbar-brand fs-4 fw-bold font-outfit text-main">Rajat Thakur<span class="text-primary">.</span></span>
      </div>
      
      <div class="col-md-4 mb-3 mb-md-0 d-flex justify-content-center">
        <app-nav-links></app-nav-links>
      </div>

      <div class="col-md-4 text-center text-md-end">
        <p class="text-muted small mb-0">© {{ getCurrentYear() }} All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>