.header-container {
  // height: vh;
  max-width: 1800px;

  @media (max-width: 1000px) {
    height: 33vh;
  }
}

.header-container {
  background-color: #1a1a1a;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.color-white {
  color: white;
}

.navbar-toggler-icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .header-container {
    height: 10vh;

  }

  .navbar-toggler-icon {
    display: block;
  }

  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: black;
  }
}